version: '3.1'
services:
  app:
    build: ./
    restart: unless-stopped
    environment:
      - YT_CHANNEL=
      - DISCORD_CHANNELS=
      - BOT_TOKEN=
      - CALLBACK_URL=
    ports:
      - "3000:3000"
